<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.askflow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.font"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListContactActivity" />
        <activity android:name=".ChatActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:label="Ask an Expert"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransferActivity"
            android:label="TransferActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <!--<activity-->
            <!--android:name=".Main2Activity"-->
            <!--android:label="@string/title_activity_main2"-->
            <!--android:theme="@style/AppTheme.NoActionBar"></activity>-->
    </application>

</manifest>
